body{
    font-family: sans-serif;
    color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(120deg, #2d388a, #00aeef);
    /* background: rgb(47, 228, 213); */
    overflow: hidden;
}

h2{
    text-transform: capitalize;
    letter-spacing: 10px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(206,89,55,0),
    7px 6px 1px #6a1010,
    5px 6px 1px #b52626,
    6px 5px 1px #923636,
    4px 5px 1px #EEEEEE,
    5px 4px 1px #CCCCCC,
    3px 4px 1px #e02f2f,
    4px 3px 1px #CCCCCC,
    2px 3px 1px #EEEEEE,
    3px 2px 1px #980a0a,
    1px 2px 1px #EEEEEE,
    2px 1px 1px #de1c1c,
    0px 1px 1px #EEEEEE,
    1px 0px 1px #970606;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#000);
}

.clock span{
    width: 100px;
    height: 80px;
    background: #012037;
    opacity: 1;
    columns: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow:2px 2px 2px rgba(206,89,55,0),
    0 0 75px #49ff18,
    0 0 55px #49FF18,
    0 0 40px #49FF18,
    0 0 30px #49FF18,
    0 0 20px #49ff18,
    0 0 15px #FFF,
    0 0 10px #FFF,
    0 0 5px #FFf; 
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 1;
}

.clock #ampm{
    height: 110px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 1;
}